In [6]:
#import library
import pandas as pd
import mysql.connector as msql
from mysql.connector import Error

In [7]:
emotionData = pd.read_csv('calculate_data.csv')

In [8]:
emotionData.head(7)

   emotions  tweets
0     anger   57.85
1      fear    1.09
2     happy   33.58
3      love    2.68
4   sadness    4.56
5  surprise    0.24

In [9]:
emotionData.dtypes

emotions     object
tweets      float64
dtype: object

In [11]:
#create table and insert record
try:
    conn = msql.connect(host='localhost', database='covidEmotionDB', 
                        user='root', password='aDilahmAsukaIr123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS emotionPercent')
        print('Creating table...')
        cursor.execute("CREATE TABLE emotionPercent (emotions CHAR(100) NOT NULL, tweets FLOAT NOT NULL)")
        print("emotionPercent table is created...")
        
        for i,row in emotionData.iterrows():
            sql = "INSERT INTO covidemotiondb.emotionPercent VALUES (%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
            
except Error as e:
    print("Error while connecting to MYSQL", e)

You're connected to database:  ('covidemotiondb',)
Creating table...
emotionPercent table is created...
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted